In [76]:
//Balik String

In [77]:
function balikString(str){
    var new_str = ''
    for(let i=0; i<str.length; i++){
        new_str = new_str + str[str.length-(1+i)]
    }
    return new_str
}

console.log(balikString("hello world!"))

!dlrow olleh

__________________________________

In [ ]:
//input:
// var input = [
//                 ["0001", "Roman Alamsyah", "Bandar Lampung", "21/05/1989", "Membaca"],
//                 ["0002", "Dika Sembiring", "Medan", "10/10/1992", "Bermain Gitar"],
//                 ["0003", "Winona", "Ambon", "25/12/1965", "Memasak"],
//                 ["0004", "Bintang Senjaya", "Martapura", "6/4/1970", "Berkebun"]
//             ]

In [75]:
//output:
// Nomor ID: 0001
// Nama Lengkap: Roman Alamsyah
// TTL: Bandar Lampung 21/05/1989
// Hobi: Membaca

// Nomor ID: 0002
// Nama Lengkap: Dika Sembiring
// TTL: Medan 10/10/1992
// Hobi: Bermain Gitar

// Nomor ID: 0003
// Nama Lengkap: Winona
// TTL: Ambon 25/12/1965
// Hobi: Memasak

// Nomor ID: 0004
// Nama Lengkap: Bintang Senjaya
// TTL: Martapura 6/4/1970
// Hobi: Berkebun

In [ ]:
var input = [
                ["0001", "Roman Alamsyah", "Bandar Lampung", "21/05/1989", "Membaca"],
                ["0002", "Dika Sembiring", "Medan", "10/10/1992", "Bermain Gitar"],
                ["0003", "Winona", "Ambon", "25/12/1965", "Memasak"],
                ["0004", "Bintang Senjaya", "Martapura", "6/4/1970", "Berkebun"]
            ]

In [6]:
function dataHandling(input){
    for(let i=0; i<input.length; i++){
        var data = input[i]
        console.log(`Nomor ID: ${data[0]}`)
        console.log(`Nama Lengkap: ${data[1]}`)
        console.log(`TTL: ${data[2]} ${data[3]}`)
        console.log(`Hobi: ${data[4]}`)
        console.log("")
    }
}

In [7]:
dataHandling(input)

Nomor ID: 0001
Nama Lengkap: Roman Alamsyah
TTL: Bandar Lampung 21/05/1989
Hobi: Membaca

Nomor ID: 0002
Nama Lengkap: Dika Sembiring
TTL: Medan 10/10/1992
Hobi: Bermain Gitar

Nomor ID: 0003
Nama Lengkap: Winona
TTL: Ambon 25/12/1965
Hobi: Memasak

Nomor ID: 0004
Nama Lengkap: Bintang Senjaya
TTL: Martapura 6/4/1970
Hobi: Berkebun

_____________________________

In [8]:
var array = ['a', 'b', 2, 'd']

In [9]:
array.join()

'a,b,2,d'

________________

In [10]:
// var input = ["0001", "Roman Alamsyah ", "Bandar Lampung", "21/05/1989", "Membaca"];
// dataHandling2(input);

// /**
//  * keluaran yang diharapkan (pada console)
//  *
//  * ["0001", "Roman Alamsyah Elsharawy", "Provinsi Bandar Lampung", "21/05/1989", "Pria", "SMA Internasional Metro"]
//  * Mei
//  * ["1989", "21", "05"]
//  * 21-05-1989
//  * Roman Alamsyah
//  */

In [71]:
var input = ["0001", "Roman Alamsyah ", "Bandar Lampung", "21/05/1989", "Membaca"];

In [72]:
function dataHandling2(input){
    var name = input[1].split(" ")
    name.pop()
    name.push("Elsharawy")
    input.splice(1, 1, name.join(" "))
    
    var prov = input[2].split(" ")
    prov.unshift("Provinsi")
    input.splice(2, 1, prov.join(" "))
    
    input.splice(4, 1, "Pria", "SMA Internasional Metro")
    
    console.log(input)
    
    var ttl = input[3].split("/")
    switch(ttl[1]){
    case '01': console.log("Januari"); break;
    case '02': console.log("Februari"); break;
    case '03': console.log("Maret"); break;
    case '04': console.log("April"); break;
    case '05': console.log("Mei"); break;
    case '06': console.log("Juni"); break;
    case '07': console.log("Juli"); break;
    case '08': console.log("Agustus"); break;
    case '09': console.log("September"); break;
    case '10': console.log("Oktober"); break;
    case '11': console.log("Novemer"); break;
    case '12': console.log("Desember"); break;
    default: console.log("Not Found"); break;
    }
    
    var tahun = ttl[2]
    ttl.pop()
    ttl.unshift(tahun)
    console.log(ttl)
    
    var ttl = input[3].split("/")
    console.log(ttl.join("-"))
    
    name.pop()
    console.log(name.join(" "))
}

In [73]:
dataHandling2(input)

[ '0001',
  'Roman Alamsyah Elsharawy',
  'Provinsi Bandar Lampung',
  '21/05/1989',
  'Pria',
  'SMA Internasional Metro' ]
Mei
[ '1989', '21', '05' ]
21-05-1989
Roman Alamsyah

In [67]:
name

[ 'Roman', 'Alamsyah', 'Elsharawy' ]

In [29]:
var name = input[1].split(" ")
name.pop()
name.push("Elsharawy")
input.splice(1,1, name.join(" "))

[ 'Roman Alamsyah ' ]

In [30]:
input

[ '0001',
  'Roman Alamsyah Elsharawy',
  'Bandar Lampung',
  '21/05/1989',
  'Membaca' ]

In [32]:
var prov = input[2].split(" ")
prov.unshift("Provinsi")
input.splice(2, 1, prov.join(" "))

[ 'Bandar Lampung' ]

In [33]:
input

[ '0001',
  'Roman Alamsyah Elsharawy',
  'Provinsi Bandar Lampung',
  '21/05/1989',
  'Membaca' ]

In [36]:
input.splice(4, 1, "Pria", "SMA Internasional Metro")

[ 'Membaca' ]

In [37]:
input

[ '0001',
  'Roman Alamsyah Elsharawy',
  'Provinsi Bandar Lampung',
  '21/05/1989',
  'Pria',
  'SMA Internasional Metro' ]

In [44]:
var ttl = input[3].split("/")

In [46]:
ttl[1]

'05'

In [47]:
switch(ttl[1]){
    case '01': console.log("Januari"); break;
    case '02': console.log("Februari"); break;
    case '03': console.log("Maret"); break;
    case '04': console.log("April"); break;
    case '05': console.log("Mei"); break;
    case '06': console.log("Juni"); break;
    case '07': console.log("Juli"); break;
    case '08': console.log("Agustus"); break;
    case '09': console.log("September"); break;
    case '10': console.log("Oktober"); break;
    case '11': console.log("Novemer"); break;
    case '12': console.log("Desember"); break;
    default: console.log("Not Found"); break;
}

Mei

In [51]:
ttl

[ '21', '05', '1989' ]

In [52]:
var tahun = ttl[2]

In [53]:
ttl.pop()

'1989'

In [54]:
ttl.unshift(tahun)

3

In [55]:
ttl

[ '1989', '21', '05' ]

In [59]:
var ttl = input[3].split("/")
    ttl.join("-")

'21-05-1989'